<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="heads(title,links,metas)">
    <meta charset="UTF-8"/>
    <th:block th:replace="${metas}"/>
    <title th:replace="${title}">base</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resource/style/style2.css}"/>
    <th:block th:replace="${links}"/>
</head>
<body>

<div th:fragment="foots(scripts)" th:remove="tag">
    <script th:src="@{/resource/scripts/script1.js}"></script>
    <th:block th:replace="${scripts}"/>
</div>
</body>
</html>